$orange: rgb(255, 150, 0);
$pixelSize: 4px;
$navbarHeight: calc($pixelSize * 9);
$small: 544px;
$medium: 768px;
$large: 992px;

/* Text styles */

body {
  font-family: 'Roboto Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  lost-offset: -2/12;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

/* Layout & styling */

body {
  margin: 0;
}

.panel {
  min-height: 100vh;
}

.orange {
  background-color: $orange;
  color: black;
  a {
    border-bottom: 1px solid white;
  }
}

.black {
  background-color: black;
  color: white;
  a {
    border-bottom: 1px solid $orange;
  }
}

.white {
  background-color: white;
  color: black;
  a {
    border-bottom: 1px solid $orange;
  }
}

.titles {
  position: fixed;
  z-index: 2;
  height: 32px;
  top: 20px;
  left: 20px;
}

.companies {
  lost-utility: clearfix;
}

.company {
  @media screen and (width < $small) {
    lost-column: 1/2;
  }
  @media screen and (width >= $small) {
    lost-column: 1/3;
  }
  margin-bottom: 10px;
  background-color: #EEEDE9; /* logos have this :( */
  display: flex;
  max-height: 128.5px;
}

.company img {
  width: 100%;
  max-width: 171px;
  margin: auto;
}
