$orange: rgb(255, 150, 0);
$pixelSize: 4px;
$navbarHeight: calc($pixelSize * 9);
$small: 544px;
$medium: 768px;
$large: 992px;

/* Text styles */

body {
  font-family: 'Roboto Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  lost-offset: -2/12;
}

a {
  color: inherit;
  border-bottom: 1px solid $orange;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

/* Layout & styling */

body {
  margin: 0;
  background-color: white;
  height: 2000px;
}

header {
  height: calc(100vh - $navbarHeight);
  color: white;
  display: flex;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: 1s ease-in 1s fade-in forwards;
}

header .content {
  margin: auto;
  max-width: 600px;
  opacity: 0;
}

.conway {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.navbar {
  height: $navbarHeight;
  background-color: $orange;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.spacer {
  height: $navbarHeight;
}

.letters {
  max-width: calc($pixelSize * 8 * 10);
}

main {
  visibility: hidden;
  background: white;
  lost-center: 960px;
  padding: 20px;
}

.companies {
  lost-utility: clearfix;
}

.company {
  @media screen and (width < $small) {
    lost-column: 1/2;
  }
  @media screen and (width >= $small) {
    lost-column: 1/3;
  }
  margin-bottom: 10px;
  background-color: #EEEDE9; /* logos have this :( */
  display: flex;
  max-height: 128.5px;
}

img {
  width: 100%;
  max-width: 171px;
  margin: auto;
}
